@model PagedList.Core.IPagedList<WebQLXeMay.Models.HDNhapShow>

@{
    ViewData["Title"] = "Index HDNhap";
    ViewData["TitleHeader"] = "Danh sách Hóa đơn nhập";
}

<table class="table table-striped" border="1">
    <thead class=" table-success ">
        <tr>
            <th scope="col">
                Mã hóa đơn
            </th>
            <th scope="col">
                Tên xe
            </th>
            <th scope="col">
                Tên nhân viên
            </th>
            <th scope="col">
                Đơn giá
            </th>
            <th scope="col">
                Số lượng
            </th>
            <th scope="col">
                Ngày lập
            </th>
            <th scope="col">
                Thuế giá trị gia tăng
            </th>
            <th scope="col">
                Thành tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHoaDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThueGTGT)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.MaHoaDon }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHoaDon })
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <pager list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager"
           class="pager-container"
           asp-controller="HDNhap" asp-action="Index" />
</nav>
@section Scripts
{
    @{
        var message_done = ViewBag.Done;
        var message_err = ViewBag.Error;
    }
    <script>
        let li_pag = $(".pagination > li");
        let ai_pag = $(".pagination > li > a")
        for (let i = 0; i < li_pag.length; i++) {
            li_pag[i].classList.add("page-item");
            ai_pag[i].classList.add("page-link");
        }
        var message_done = '@Html.Raw(message_done)';
        var message_err = '@Html.Raw(message_err)';
        console.log(message_done)
        if (message_done != "" && message_done != null) {
            toastr.success(message_done, 'Thành công!');
        } else if (message_err != "" && message_err != null) {
            toastr.error(message_err, 'Lỗi!');
        }
    </script>
}