@model WebQLXeMay.Models.NhanVien

@{
    ViewData["Title"] = "Details NhanVien";
    ViewData["TitleHeader"] = "Chi tiết Nhân viên " + Model.MaNhanVien;
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhanVien }) |
    <a asp-action="Index">Back to List</a>
</div>
