@model WebQLXeMay.Models.XeMayShow

@{
    ViewData["Title"] = "Details Xe máy";
    ViewData["TitleHeader"] = "Chi tiết xe máy " + Model.MaXe;
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaXe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNCC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaXe }) |
    <a asp-action="Index">Back to List</a>
</div>
